/* Reset styles */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  min-height: 100vh;

  color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;

  color: inherit;
}

/* Refactoring styles */

.center {
  max-width: 1300px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Logo, Icons, avatar */

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

svg {
  width: 20px;
  height: 20px;
}

.img {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  border-radius: 5px;
}

.img-lg {
  width: auto;
  margin: 10px;
  border-radius: 30px;
  overflow: hidden;
}

.img-lg img {
  width: 100%;
  object-fit: cover;
}
/* Grids */

.two-col-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.two-col-grid__expand-one {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.two-col-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr;

  gap: 10px;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  gap: 10px;
}

.three-col-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;

  gap: 10px;
}

.three-row-grid__space-two {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.two-row-grid__space-one {
  display: grid;
  grid-template-rows: 1fr auto;
}

.two-row-grid__space-two {
  display: grid;
  grid-template-rows: auto 1fr;
}

.grid-col-auto {
  display: grid;
  grid-auto-flow: column;

  gap: 10px;
}

.grid-auto-row {
  display: grid;
  grid-auto-flow: row;
}

.place-content__center {
  place-content: start;
}

/* general */

li {
  margin-bottom: 5px;
}

.action-button button {
  width: 200px;
  padding: 10px;

  border: none;
  border-radius: 50px;

  background-color: lightskyblue;

  color: white;
  font-weight: 900;
  font-size: 16px;
}

.profile {
  height: 70px;
}

.side-borders {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.main-header {
  border-bottom: 1px solid lightgray;

  padding: 10px;
  margin-bottom: 10px;
}

.main-header .navigation-name {
  height: 50px;
}

.main-content .compose-tweet {
  margin-bottom: 20px;
  padding: 10px;

  border-bottom: 3px solid lightgray;
}

.main-content textarea {
  width: 100%;
  height: auto;

  padding: 20px;
  margin-bottom: 10px;

  font-size: 1.25rem;
}

.action-buttons .options {
  place-content: start;
  gap: 1.5rem;
}

.main-header .icon,
.action-buttons .options .icon {
  fill: rgb(29, 161, 242);
}

.action-buttons button {
  width: 100px;
  margin: 0 10px 10px;
  padding: 10px;
  justify-self: end;
  border-radius: 30px;
  background-color: rgb(29, 161, 242);
  color: white;
  font-weight: 900;
}

.tweet {
  padding: 10px;

  border-bottom: 1px solid lightgray;
}

.content-wrapper > * {
  margin-bottom: 15px;
}

.content-wrapper .user-info .name {
  font-weight: 900;
}

.content-wrapper .user-info .username,
.content-wrapper .user-info .time {
  color: grey;
}

.main-aside .news-header {
  height: 70px;
  padding: 10px;
}

.main-aside .explore-section {
  border: 1px solid goldenrod;
  padding: 10px;
  margin: 5px;
}

.main-aside .explore-section .section-card {
  border: 1px dotted orangered;
  padding: 5px;
}

.main-aside .explore-section .section-title {
  border-bottom: 2px solid grey;
}
