/* Reset styles */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;

  color: inherit;
}

/* Refactoring styles */

.center {
  max-width: 1300px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Logo, Icons, avatar */

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

svg {
  width: 20px;
  height: 20px;
}

.img {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
}

.img-lg {
  width: auto;
  margin: 10px;
  border-radius: 30px;
  overflow: hidden;
}

/* Grids */

.two-col-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.two-col-grid__expand-one {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.two-col-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr;

  gap: 10px;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  gap: 10px;
}

.three-col-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;

  gap: 10px;
}

.three-row-grid__space-two {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.two-row-grid__space-one {
  display: grid;
  grid-template-rows: 1fr auto;
}

.two-row-grid__space-two {
  display: grid;
  grid-template-rows: auto 1fr;
}

.grid-col-auto {
  display: grid;
  grid-auto-flow: column;

  gap: 10px;
}

.grid-auto-row {
  display: grid;
  grid-auto-flow: row;
}

.place-content__center {
  place-content: start;
}

/* general */

li {
  margin-bottom: 5px;
}

.left-sidebar {
  height: 100vh;

  position: sticky;
  top: 0;
}

.navigation {
  font-size: 1.25rem;
  font-weight: 900;
}

.navigation nav {
  margin-left: 20px;
}

.navigation svg {
  width: 30px;
  height: 30px;
}

.navigation .logo,
.navigation a {
  padding: 10px 0;
}

.action-button button {
  width: 200px;
  padding: 10px;

  border: none;
  border-radius: 50px;

  background-color: rgb(29, 161, 242);

  color: white;
  font-weight: 900;
  font-size: 16px;
}

.profile {
  height: 70px;
}

.side-borders {
  border-left: 1px solid rgba(211, 211, 211, 0.534);
  border-right: 1px solid rgba(211, 211, 211, 0.534);
}

.main-header {
  padding: 10px;
  margin-bottom: 10px;

  position: sticky;
  top: 0;
  background-color: white;

  border-bottom: 1px solid rgba(211, 211, 211, 0.534);
}

.main-header .navigation-name {
  height: 50px;
}

.main-content .compose-tweet {
  margin-bottom: 20px;
  padding: 10px;

  border-bottom: 3px solid rgba(211, 211, 211, 0.534);
}

.main-content textarea {
  width: 100%;
  height: auto;

  padding: 20px;
  margin-bottom: 10px;

  border: none;

  font-size: 1.25rem;
}

.action-buttons .options {
  place-content: start;
  gap: 1.5rem;
}

.main-header .icon,
.action-buttons .options .icon {
  fill: rgb(29, 161, 242);
}

.action-buttons button {
  width: 100px;
  margin: 0 10px 10px;
  padding: 10px;

  justify-self: end;

  border: none;
  border-radius: 30px;

  background-color: lightskyblue;

  color: white;
  font-weight: 900;
}

.tweet {
  padding: 10px;

  border-bottom: 1px solid lightgray;
}

.content-wrapper > * {
  margin-bottom: 15px;
}

.content-wrapper .user-info .name {
  font-weight: 900;
}

.content-wrapper .user-info .username,
.content-wrapper .user-info .time {
  color: grey;
}

.right-sidebar-header {
  height: 70px;
  padding: 10px;

  position: sticky;
  top: 0;
  background-color: white;
}

.right-sidebar-header input {
  width: 100%;
  padding: 16px;

  border: none;
  border-radius: 30px;

  background-color: #f7f9f9;

  font-size: 16px;
}

.explore-section {
  margin-bottom: 1rem;
  background-color: #f7f9f9;

  border-radius: 16px;
}

.explore-section .sidebar-list a {
  margin-bottom: 0.5rem;
}

.explore-section .sidebar-list .section-card {
  border-bottom: 1px solid rgba(211, 211, 211, 0.534);
}

.explore-section .section-header {
  padding: 10px;
  margin-bottom: 0.825rem;

  border-bottom: 1px solid rgba(211, 211, 211, 0.534);
}

.explore-section .section-header .section-title {
  font-size: 1.25rem;
}

.explore-section .section-card {
  padding: 0.825rem;
}

.explore-section .section-card .text-column h3 {
  font-size: 1rem;

  margin-bottom: 0.5rem;
}

.explore-section .section-card .text-column p {
  font-size: 0.875rem;
  color: grey;

  margin-bottom: 0.25rem;
}

.explore-section .last-section-line {
  padding: 1rem;

  color: rgb(29, 161, 242);
}
